
.section1{
    overflow: hidden;}

/*全房定制*/

.section2 ul{margin:0 auto 29px auto;
    overflow: hidden;

    width: 966px;}
.section2 ul>li{
    margin:1px 1px;
    float: left;
    background: white;
    height: 130px;
    width: 320px;
    -webkit-transition: all 0.3s ;
    -moz-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    transition: all 0.3s ;}
.section2 ul>li>h1{
    text-align: center;


    color: #34495e;

    line-height:47px;
    -webkit-transition: all 0.3s ;
    -moz-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    transition: all 0.3s ;}

/*.section2 ul>li>h1*/

/*动效*/
.section2 ul>li:nth-of-type(1):hover{
    background: #34495e;}
.section2 ul>li:nth-of-type(1):hover>h1{
    color: white;
}

.section2 ul>li:nth-of-type(2):hover{
    background: #34495e;}
.section2 ul>li:nth-of-type(2):hover>h1{ color: white;
}

.section2 ul>li:nth-of-type(3):hover{
    background: #34495e;}
.section2 ul>li:nth-of-type(3):hover>h1{ color: white;
}

.section2 ul>li:nth-of-type(4):hover{
    background: #34495e;}
.section2 ul>li:nth-of-type(4):hover>h1{ color: white;
}

.section2 ul>li:nth-of-type(5):hover{
    background: #34495e;}
.section2 ul>li:nth-of-type(5):hover>h1{ color: white;
}

.section2 ul>li:nth-of-type(6):hover{
    background: #34495e;}
.section2 ul>li:nth-of-type(6):hover>h1{ color: white;
}

/*预约定制*/
/*form>div*/
.section3 label{
    color: white;
    font-size: 10px;
    font-weight:bold;}
.section3 input{
    color: #34495e;
    line-height:50px;
    border:1px solid #34495e;
    font-size: 20px;}
.section3{
    height: 388px;
    background: #34495e;}
form>div{margin-top:15px;}

/*流程*/
.section4 ul{margin-left:50%;
    width: 984px;margin-bottom:84px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: hidden;}
.section4 ul>li{
    float: left;margin:0 11px;
    width: 142px;
    background: #34495e;
    height: 180px;}
.section4 ul h1{margin-left:31px;margin-top:24px;
    width: 80px;
    color: white;
    font-size: 20px;padding-top:105px;

    text-align: center;}

.section4 ul>li:nth-of-type(1) h1{
    background: url(../img/liucheng1.png) no-repeat top center/contain;
}
.section4 ul>li:nth-of-type(2) h1{
    background: url(../img/liucheng2.png) no-repeat top center/contain;
}
.section4 ul>li:nth-of-type(3) h1{
    background: url(../img/liucheng3.png) no-repeat top center/contain;
}
.section4 ul>li:nth-of-type(4) h1{
    background: url(../img/liucheng4.png) no-repeat top center/contain;
}
.section4 ul>li:nth-of-type(5) h1{
    background: url(../img/liucheng5.png) no-repeat top center/contain;
}
.section4 ul>li:nth-of-type(6) h1{
    background: url(../img/liucheng6.png) no-repeat top center/contain;
}

/*咨询*/
.section5{
    overflow: hidden;

    height: 388px;
    background: #34495e;}
.section5 ul{margin-top:82px}
.section5 ul{
    overflow: hidden;}
.section5 li{ width: 138px;
    float: left;}
.section5 p{
    font-size: 16px;padding-top:150px;

    text-align: center;
    letter-spacing:4px;
    background: url(../img/zixun1.png) no-repeat top center/contain;
    color: white;}
.section5 a{ letter-spacing:4px;
    background: white;
    color:  #34495e;margin-top:22px;
    line-height:32px;
    display: block;;
    width: 100%;
    text-align: center;}
.section5 h1{
    text-align: center;
    color: white;
    font-size: 16px;
    line-height:32px;margin-top:22px;
    letter-spacing:2px;}
.section5 li:nth-of-type(2) p{background: url(../img/zixun2.png) no-repeat top center/contain;}
.section5 li:nth-of-type(2){
    float: right;}
.section5 ul{margin-left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);}

/*美好生活*/

.section6 h1{color:  #34495e;
    text-align: center;
    font-size: 30px;
    letter-spacing:4px;
    position: relative;margin-left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    line-height:314px;}

.section6 h1::after{
    content: '';
    width: 60px;
    height: 2px;
    background:#34495e;
    display: block;
    position: absolute;
    left:17%;;top:50%;

}
.section6 h1::before{
    content: '';
    width: 60px;
    height: 2px;
    background:#34495e;
    display: block;
    position: absolute;
    left:73%;;top:50%;

}
