body { background:#000;}
.bodyinner {
  width:1200px;
  margin:0 auto;
  background:#eee;
  padding: 0 20px 20px;
}
.clearFl { display:block; width:0; height:0; font-size:0; clear:both;}

.orno1 { display:inline-block; width:15px; height:15px; border-radius: 50%; background:red;}
.orno2 { display:inline-block; width:15px; height:15px; border-radius: 50%; background:yellow;}
.orno3 { display:inline-block; width:15px; height:15px; border-radius: 50%; background:green;}
.orno4 { display:inline-block; width:15px; height:15px; border-radius: 50%; background:blue;}
.wrap { position:relative; width:1160px; margin:20px auto 0; border:1px solid #000; border-bottom: none; background:#505050; padding:0 20px 5px ;}
.wrap div {
  text-indent:.5em;
}
.wrap > div > div{
  border-bottom: 1px solid #000;
  height:26px;
  line-height:26px;
  margin-top:5px;
}
.title {
  cursor:pointer;

}
.title span {
  margin-right:20px;
}
.info {
  height:auto;
}
.info > div {
  width:50%;
  float:left;

}

h2 {
  width:100%; height:50px; line-height:50px; text-align: center;
}
h4 {color:#bd8a39; border-bottom: 1px #bd8a39 inset; height:26px; line-height:26px;}

h4 > span {
  color:red; margin-right:20px;
}

.pageSelect {
  color:#00a6b9;
}

.pageSelect > span {
  color:#bd8a39;
  margin-right:15px;
}

.pageSelect .changePage {

  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  display:inline-block;
  width: 68px;
  height:40px;
  line-height:40px;
  background:rgb(0,115,183);
  text-align:center;
  color:white;
  cursor:pointer;
  margin-left:15px;
}
.renew {
  font-weight:bold;
  font-size: 20px;
  color: #1dd9b4;
  display:inline-block;
  /*background:teal;*/
  float:right;
  margin-right:20px;
  height:20px;
  line-height:20px;
}
.closeLg, .changePW{
  float:right;
  cursor:pointer;
}
.infoFrom label{
  cursor: pointer;
}

.title{
  color:#eee;
}

.keyin{
  display:none;
  width:600px;
  height:400px;
  position:absolute;
  top:100px;
  left:300px;
  background: rgb(189, 194, 206);

}

.keyin textarea{

  font-size:18px;
  width:100%;
  height:350px;
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.keyin input[submit]{

}
.team {
  margin-right:50px;
}
.dealer {

  color: #35b3ff;
}
.hiddeInfo{
  height:36px;
  overflow: hidden;
}
.hiddeInfo2 {
  display: none;
}
.comment p {
  margin:0;
  height: 26px;
  line-height:26px;
}
.comment span {
  float:right;
}
.selectCheck > select {
  line-height: 26px;
  height: 26px;

}
.selectCheck > input {
  display: inline-block;
  float: right;
  height: 26px;
  line-height:26px;
  padding: 0;
  width:50px;
  text-align:center;
}
.selectCheck  select {
  margin-left: 10px;
}
.selectConsult {
  margin-right: 50px;
}